* {
    box-sizing: border-box;
    margin: 0;
    align-items: center;
    justify-content: center;
}
body {
    margin: auto;
}
.modetoggle { 
    font-family: 'Rubik Mono One', monospace;
    background-color: rgb(79, 79, 205);
    margin: 10% 0 0 30%;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border-style: none;
    width: 50%
}
.modetoggle:hover {
    color: rgb(232, 237, 122);
   
}
.modetoggleNight {
    background-color: rgb(232, 237, 122);
    margin: 10% 0 0 30%;
    color: rgb(89, 99, 109);
}
.modetoggleNight:hover {
    color: rgb(79, 79, 205);
    
}
.revealtiles {
    font-family: 'Rubik Mono One', monospace;
    background-color: black;
    margin: 4% 0 0 30%;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border-style: none;
    width: 50%
}
/* .hidetiles {

} */
aside {
    float: left;
    height: 100%;
    width: 30%;
    margin-left: 5%;
}
.reset {
    
    font-family: 'Rubik Mono One', monospace;
    font-size: 40px;
    background-color: #ED2939;
    margin: 10% 0 0 30%;
    border: 3px solid #ED2939;
    border-radius: 10px;
    text-decoration: none;
    
    
}


.reset:hover {
    color: whitesmoke;
  }
  
  
.reset:active {
    color: hotpink;
  }

h1 {
    display: flex;
    margin: 5% auto auto auto;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik Mono One', monospace;
    font-size: 100px;
    text-shadow: 3px 3px lightslategray;
}
p {
    font-family: 'Rubik Mono One', monospace;
    font-size: 50px;
    
        animation: fadeIn 3s;
        -webkit-animation: fadeIn 3s;
        -moz-animation: fadeIn 3s;
        -o-animation: fadeIn 3s;
        -ms-animation: fadeIn 3s;
}
      
      @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-moz-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @-o-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 25% 0 15%;
    background-color: white;
}

div {
    height: 18vh;
    width: 18vh;
   
    
    color: white;
    border-radius: 25%;
    margin: 1%;
}

div:hover {
    border: rgb(69, 78, 88) solid 7px;
  }
  

.A {
    background-image: url("https://i.imgur.com/jkxIkK8.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(57, 57, 246);
}



.A:hover {
    border-style: none;
}

.B {
    background-image: url("https://i.imgur.com/DMPAixV.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FE5BAC;
}
.B:hover {
    border-style: none;
}

.C {
    background-image: url("https://i.imgur.com/PUg60q6.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FCFC5C
}
.C:hover {
    border-style: none;
}

.D {
    background-image: url("https://i.imgur.com/gymaugs.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9b6bca;
}
.D:hover {
    border-style: none;
}
.E {
    background-image: url("https://i.imgur.com/k2i47Ri.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(238, 169, 79);
}
.E:hover {
    border-style: none;
}

.F {
    background-image: url("https://i.imgur.com/6RIPz5K.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #87CEEB;
}
.F:hover {
    border-style: none;
}

.hidden {
    background-image: url("https://i.imgur.com/bb7HPKx.jpg");
    background-size: cover;
    background-color: black;
}
.hidden:hover {
    border: lightslategray solid 7px;
}
.correctmatch {
    background-image: url('https://i.imgur.com/WQGeISf.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #53FCA1;
}

.correctmatch:hover {
    border-style: none;
}

.wins {
    height: 10vh;
    width: 10vh;
    margin: 5% 0 0% 30%;
    border: none;
    color: black;
    border-radius: none;
    font-family: 'Rubik Mono One', monospace;
    font-size: 30px;
}
.wins:hover {
    border:none;
  }
 .winnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 50px;
    
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }

 .losses {
    height: 10vh;
    width: 10vh;
    margin: 10% 0 0 30%;
    border: none;
    color: black;
    border-radius: none;
    font-family: 'Rubik Mono One', monospace;
    font-size: 30px;
}
.losses:hover {
    border:none;
  }
 .lossnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 50px;
    
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }

 .attempts {
    height: 10vh;
    width: 10vh;
    margin: 0 0 0 9%;
    border: none;
    color: black;
    border-radius: none;
    font-family: 'Rubik Mono One', monospace;
    font-size: 50px;
    display: flex;
}
.attempts:hover {
    border:none;
  }
 .attemptsnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 50px;
    display:flex;
    margin-left: 12%;
    color: black;
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }

 .bordernone {
    border: none;
 }


 .nightmode {
    background-color: rgb(66, 74, 82);
    color: white;
    

 }


 /* PHONE ================================*/
 @media screen and (max-width: 425px) {
    div {
        height: 9vh;
        width: 9vh;
    }
    div:hover {
        border-style: none;
      }
    .hidden:hover {
        border-style: none;
    }
    .modetoggle:hover {
        color: white;
       
    }
    .modetoggleNight:hover {
        color: rgb(232, 237, 122);
    }
    h1 {
        display: flex;
        margin: 5% auto auto auto;
        align-items: center;
        justify-content: center;
        font-family: 'Rubik Mono One', monospace;
        font-size: 150%;
        text-shadow: 3px 3px lightslategray;
    }
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 25% 0 25%;
        background-color: white;
    }
    .wins {
        height: 10vh;
        width: 10vh;
        margin: 5% 0 0% 30%;
        border: none;
        color: black;
        border-radius: none;
        font-family: 'Rubik Mono One', monospace;
        font-size: 10px;
  }
  .winnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 30px;
    
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }
 .losses {
    height: 10vh;
    width: 10vh;
    margin: 0 0 0 30%;
    border: none;
    color: black;
    border-radius: none;
    font-family: 'Rubik Mono One', monospace;
    font-size: 10px;
}
.lossnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 30px;
    
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }
 .reset {
    
    font-family: 'Rubik Mono One', monospace;
    font-size: 15px;
    background-color: #ED2939;
    margin: 5% 0 0 30%;
    border: 3px solid #ED2939;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
.reset:hover {
    color: black;
  }
.reset:active {
    color: hotpink;
  }
.modetoggle { 
    font-family: 'Rubik Mono One', monospace;
    background-color: rgb(79, 79, 205);
    margin: 10% 0 0 30%;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    border-style: none;
    width: 65%
}
.revealtiles {
    font-family: 'Rubik Mono One', monospace;
    background-color: black;
    margin: 2% 0 0 30%;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    border-style: none;
    width: 50%
}
.attempts {
    height: 10vh;
    width: 10vh;
    margin: 0 0 0 9%;
    border: none;
    color: black;
    border-radius: none;
    font-family: 'Rubik Mono One', monospace;
    font-size: 20px;
    display: flex;
}
.attemptsnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 25px;
    display:flex;
    margin-left: 12%;
    color: black;
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }
}


/* TABLET ================================*/
@media screen and (max-width: 768px) {
    div {
        height: 9vh;
        width: 9vh;
    }
    div:hover {
        border-style: none;
      }
    .hidden:hover {
        border-style: none;
    }
    .modetoggle:hover {
        color: white;
       
    }
    .modetoggleNight:hover {
        color: rgb(232, 237, 122);
    }
    h1 {
        display: flex;
        margin: 5% auto auto auto;
        align-items: center;
        justify-content: center;
        font-family: 'Rubik Mono One', monospace;
        font-size: 150%;
        text-shadow: 3px 3px lightslategray;
    }
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 25% 0 25%;
        background-color: white;
    }
    .wins {
        height: 10vh;
        width: 10vh;
        margin: 5% 0 0% 30%;
        border: none;
        color: black;
        border-radius: none;
        font-family: 'Rubik Mono One', monospace;
        font-size: 10px;
  }
  .winnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 30px;
    
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }
 .losses {
    height: 10vh;
    width: 10vh;
    margin: 0 0 0 30%;
    border: none;
    color: black;
    border-radius: none;
    font-family: 'Rubik Mono One', monospace;
    font-size: 10px;
}
.lossnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 30px;
    
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }
 .reset {
    
    font-family: 'Rubik Mono One', monospace;
    font-size: 15px;
    background-color: #ED2939;
    margin: 5% 0 0 30%;
    border: 3px solid #ED2939;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
.reset:hover {
    color: black;
  }
.reset:active {
    color: hotpink;
  }
.modetoggle { 
    font-family: 'Rubik Mono One', monospace;
    background-color: rgb(79, 79, 205);
    margin: 10% 0 0 30%;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    border-style: none;
    width: 65%
}
.revealtiles {
    font-family: 'Rubik Mono One', monospace;
    background-color: black;
    margin: 2% 0 0 30%;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    border-style: none;
    width: 50%
}
.attempts {
    height: 10vh;
    width: 10vh;
    margin: 0 0 0 9%;
    border: none;
    color: black;
    border-radius: none;
    font-family: 'Rubik Mono One', monospace;
    font-size: 20px;
    display: flex;
}
.attemptsnumber {
    font-family: 'Rubik Mono One', monospace;
    font-size: 25px;
    display:flex;
    margin-left: 12%;
    color: black;
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        -ms-animation: none;
 }
}