* {
    box-sizing: border-box;
    margin: 0
}
button {
    text-decoration: none;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .selected {
    border: none;
    background-color: rgb(60, 118, 234);
} */

div {
    height: 15vh;
    width: 15vh;
    background-color: black;
    border: 1px solid white;
    color: white;
}

.A {
    background-color: blue;
}

.B {
    background-color: red;
}

.C {
    background-color: yellow;
}

.D {
    background-color: purple;
}

.E {
    background-color: orange;
}

.hidden {
    background-color: black;
}
.correctmatch {
    background-color: green;
}